{% for review in site.reviews %}
	{% for game in site.games %}
    	{% if game.key == review.gamename %}
			{% assign steamid = game.steamid %}
		{% endif %}
	{% endfor %}
{% for author in site.authors %}
	{% if author.name == review.author %}
		{% assign avatar = author.avatar %}
		{% assign author = author.name %}
	{% endif %}
{% endfor %}

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m review-darker" uk-grid>
	<div class="uk-card-media-left uk-cover-container">
		<img src="https://steamcdn-a.akamaihd.net/steam/apps/{{steamid}}/header.jpg" alt="" uk-cover>
		<canvas width="460" height="215"></canvas>
	</div>
	<div>
		<div class="uk-margin-small-left">
			<a href="https://throyd.github.io/criticas/{{review.name ||downcase }}">
				<h3 class="review_name">{{review.name}}</h3>
			</a>
			<p>
				<a href="https://store.steampowered.com/app/{{steamid}}" target="_blank"><i class="fab fa-steam-square steam_link"></i>
			</p>
		</div>
		<div class="uk-grid-small uk-flex-middle uk-margin-small-left" uk-grid>
			<div class="uk-width-auto">
				<img class="uk-border-circle" width="20" height="20" src="https://throyd.github.io/steamstuff/assets/imgs/avatars/{{avatar}}">
			</div>
			<div class="uk-width-expand">
                		<a href="https://throyd.github.io/steamstuff/autores/{{author || downcase}}"><span class="uk-margin-remove-bottom">{{author}}</h4></span>
				<span class="uk-text-meta uk-margin-remove-top">{{review.publisheddate}}</span>
  			</div>
        	</div>
	</div>
</div>


<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{steamid}}/header.jpg" alt="" uk-cover>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Media Left</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="images/light.jpg" alt="" uk-cover>
        <canvas width="460" height="215"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Media Right</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>


{% endfor %}

