.dark{
  background-color: #2a475e;
  color: #ffffff;
}
.review-darker{
  background: rgba( 0, 0, 0, 0.2 );
   color: #ffffff;
}
.review_name {
    color: #c7d5e0;
    font-size: 1.25em;
    line-height: 18px;
}
.darkest{
  background-color: #171a21;
  color: #b8b6b4;  
}
.uk-logo{
  color: #b8b6b4;
}
.uk-text-lead, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
blockquote, blockquote footer {
  color: #ffffff;
}
.steam_link {
  color: #384959;
}
