.dark{
  background-color: #2a475e;
  color: #ffffff;
}
.review-darker{
  background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
}
.darkest{
  background-color: #171a21;
  color: #b8b6b4;  
}
.uk-logo{
  color: #b8b6b4;
}
.uk-text-lead, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
blockquote, blockquote footer {
  color: #ffffff;
}
