{% include head.html %}
<div class="uk-container">
	<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
       		<div class="uk-card-media-left uk-cover-container">
			<img src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.steamid}}/header.jpg" alt="" uk-cover>
			<canvas width="600" height="400"></canvas>
		</div>
		<div>
            		<div class="uk-card-body">
                		<h3 class="uk-card-title"> <a href="{{ site.url }}{{game.url}}">{{game.name}}</a></h3>
                		<p>{{ game.developer}} - {{game.publisher}}</p>
			</div>
        	</div>
    	</div>
</div>
{% include footer.html %}
